# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scientific Libaries
    1. Pandas
    2. Numpy
2. Visualization Libaries
    1. Matplotlib
    2. Seaborn
3. Machine Learning
    1. Scikit-learn
    2. Keras
4. Deep Learing
    1. TensorFlow
    2. Pytorch

| Data Science Tools|
| ----------------|
| Apache Hadoop|
| Apache Superset|
| Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
min=200
hour=min//60
mins=min%60
print(hour,"hrs",mins,"mins")

3 hrs 20 mins

**Objectives**
- List popular languages for Data Science
- List of commonly used libraries in Data Science
- List of Tools in Data Science
- Code to Perform arithmetic Operations
- Code to convert minutes to hours

## Author
Keerthana